div.form-error p{
    color:red;
}

.card{
    .card-body{
       
        button#btnsave {
        padding: 5px 20px;
        }
        button#btnreset {
        padding: 5px 20px;
        }
        a#btnreset {
        padding: 5px 20px;
        }
        a#btnback {
            padding: 5px 20px;
        }
        a#btnupdate {
            padding: 5px 20px;
        }
    }
}
